$font-logo: Passion One, Arial, Helvetica, sans-serif;
$font-stack: Roboto, Arial, Helvetica, sans-serif;
$font-bold: 800;

$font-size-menu: 1rem;

$red: #8b0000;
$blue: #104e8b;
$blue-light: #8591ba;
$white: #FFFFFF;
$grey-dark: #262626;
$grey: #B3B3B3;
$light-grey: #eeeeee;
$black: #000000;

@mixin absolute-center(){
    width:100%;
    height:100vh;
    background-image:url('');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat; 
}

//color classes
.blue{
    color: $blue!important;
}
.bgWhite{
    background-color:$white;
}
.bgLightBlue{
    background-color: $blue-light;
}
//color classes end
.fontBold{
    font-weight: $font-bold;
}
.centerText{
    text-align:center;
    padding: 10px;
}
.container {
    max-width:1140px;
    padding:0;
}
.white-space {
    white-space:pre;
}
body {
    margin: 0;
    padding: 0x;
    background-color: $grey;
    font-family: $font-stack;
    text-align: center;
}
#random{
    z-index:-100;
    @include absolute-center;
}
#login-box-position {
    @include absolute-center;
}
.h5 {
   font-family: $font-logo !important;
   font-weight: $font-bold !important;
   display: block;
}
.container-fluid {
    margin:0;
}
//Links
a{
    color: $blue;
}
a:hover{
    color:$grey;
}
//Navbar Styles
.navbar-light .navbar-toggler{
    border-color: rgba(0,0,0,.0);
    padding:.5px;
}
.navbar{
    background-color: $white;
    margin-top: 0;
    margin-bottom: 0px;
    padding:0px;
}
.navbar-brand{
    padding:6px;
    margin:0;
}
.navbar-brand > img
{
    height:60px;
    padding:2.5px;
}
.user-avatar{
    height:53px;
    padding:4px;
}
.nav-link{
    font-weight: $font-bold;
    font-size: $font-size-menu;
}
.navlink:hover{
    color: $grey;
}
.nav-Font{
    font-size: $font-size-menu;
}
.navbar-collapse{
    padding:6px;
}
//End of Navigation
//Login Window
.containerLogin{
    margin: 0;
    position: absolute;               
    top: 50%;                         
    transform: translate(0, -50%); 
} 
.loginBox{
    width: 100%;
    text-align:center;
    padding:10px;
    font-weight: $font-bold;
    position: absolute;               
    top: 54%;                         
    transform: translate(0, -50%); 
    font-size:2em;
}
.loginBoxOuter{
    padding:5px;
    max-width:543px;
    min-width:302px;
    background-color: $white;
    margin:0 auto;
    border-radius: 15px;
}
.loginBoxInner{
    padding:10px;
    max-width:540px;
    min-width:300px;
    background-color: $white;
    border-radius: 15px;
    border:3px solid $blue-light;
}
.form-group{
    padding-top:15px;
    padding-bottom:0;
}
//Registration Box
.hide{
    display:none;
}
.show{
    display:block;
}
//End of Login Windows
//Buttons
.btn-primary{
    background-color: $blue;
    border-color: $blue;
}
.btn-primary:hover{
    background-color: $blue-light;
    border-color: $blue-light;
}

@media (max-width: 480px) {
    .container {
       padding:0;
    }
    #userName {
        display:none;
    }
    .user-avatar{
        padding:1;
    }
}
