doctype 
html    
    head
        include templates/header-template.pug
    body
        h1 MovieLogue  
        h3 The movie collection cataloging app
        p This is a test Index Page to See if Pug Compiles. I can now watch pug files using Grunt
