doctype 
html(id='random')   
    head
        include templates/header-template.pug
    body(onLoad='RandomImage()')
        include templates/navbar-nologin-template.pug
    footer
        include templates/footer-template.pug