doctype
html
    head
        include templates/header-template.pug
    body.bgBlueLight
        include templates/navbar-user-template.pug

        div
            p Hello !{user}!
            p Your first name is !{fName}. This is the best database ever using MongoDB
            p 
            br
            img(src=avatarURL)