doctype
html
    head
        include templates/header-template.pug
    body
        include templates/navbar-user-template.pug

        div
            p Hello !{user}!
            p You first name is !{fName}.
            p Your Avatar is !{avatarURL}
            br
            img(src=avatarURL)