nav.navbar.navbar-expand-md.sticky-top.navbar-light
    div.container
        a(href='#').navbar-brand.white-space
            img(src='ML_Logo.png').navbar-logo
        button.navbar-toggler.navbar-toggler-right(type=button, data-toggle="collapse", data-target="#navbar-nologin-content", aria-controls="navbarContent", aria-expanded="true" aria-label="Toggle navigation")
            span.navbar-toggler-icon.navbar-light
        div.collapse.navbar-collapse#navbar-nologin-content
            ul.navbar-nav.ml-auto
                li.nav-item.ml-auto
                    a(href='#' onClick='loadLogin()').nav-link#Login Login 
                li.nav-item.ml-auto
                    a(href='#' onClick='loadRegister()').nav-link#Register Register
                       



