div.container-fluid
            nav.navbar.navbar-expand-md.navbar-light
                a(href='#').navbar-brand.white-space
                    img(src='filmstrip.png').navbar-logo
                    | MovieLogue
                button.navbar-toggler.navbar-toggler-right(type=button, data-toggle="collapse", data-target="#navbar-nologin-content", aria-controls="navbarContent", aria-expanded="true" aria-label="Toggle navigation")
                    span.navbar-toggler-icon.navbar-light
                div.collapse.navbar-collapse#navbar-nologin-content
                    ul.navbar-nav.ml-auto
                        li.nav-item.ml-auto
                            a(href='#').nav-link Login 
                        li.nav-item.ml-auto
                            a(href='#').nav-link Join
                       



